@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  background: #FFF;
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", arial, sans-serif; }

*,
html,
input {
  -webkit-font-smoothing: antialiased !important; }

body {
  height: 100%; }

.clear:before,
.clear:after {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

.container {
  width: 1140px;
  margin: 0 auto; }
  @media only screen and (max-width: 1140px) {
    .container {
      width: 960px; } }
  @media only screen and (max-width: 961px) and (min-width: 699px) {
    .container {
      width: 700px; } }
  @media only screen and (max-width: 700px) {
    .container {
      width: 500px; } }
  @media only screen and (max-width: 500px) {
    .container {
      width: 300px; } }

header {
  display: block;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ecf2f5;
  position: relative;
  z-index: 400;
  background: #FFF;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  header.home {
    border-bottom: none; }
  header .logo {
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #444;
    text-decoration: none;
    padding: 30px 0 31px; }
    header .logo:hover {
      color: #EC4757; }
  header nav {
    display: inline-block;
    float: right;
    font-size: 0; }
    @media only screen and (max-width: 700px) {
      header nav {
        display: none; } }
    @media only screen and (max-width: 500px) {
      header nav {
        display: none; } }
  header nav.mobile {
    display: none; }
    header nav.mobile a {
      margin-right: -15px; }
    @media only screen and (max-width: 700px) {
      header nav.mobile {
        display: inline-block; } }
    @media only screen and (max-width: 500px) {
      header nav.mobile {
        display: inline-block; } }
  header nav a {
    display: inline-block;
    padding: 31px 15px 33px;
    font-size: 16px;
    font-weight: 400;
    color: #888;
    text-decoration: none; }
    header nav a:hover {
      color: #EC4757; }
  header nav a.active {
    color: #EC4757; }
  header nav .fa {
    font-size: 14px;
    margin: 0 2px 0 0;
    color: #EC4757; }
  header nav a.button {
    color: #EC4757;
    padding: 13px 25px;
    border-radius: 50px;
    border: 1px solid #EC4757;
    margin: 0 0 0 10px; }
    header nav a.button:hover {
      background: #EC4757;
      color: #FFF; }

.hero {
  position: absolute;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media only screen and (max-width: 961px) and (min-width: 699px) {
    .hero {
      min-height: 600px; } }
  @media only screen and (max-width: 700px) {
    .hero {
      min-height: 600px; } }
  @media only screen and (max-width: 500px) {
    .hero {
      min-height: 400px; } }
  .hero .container {
    padding: 140px 0 110px;
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-position: right center; }
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
      .hero .container {
        background-image: url("../img/hero@2x.png");
        -webkit-background-size: 549px 367px; } }
    @media only screen and (max-width: 961px) and (min-width: 699px) {
      .hero .container {
        background: #FFF; } }
    @media only screen and (max-width: 700px) {
      .hero .container {
        background: #FFF;
        padding: 40px 0 10px; } }
    @media only screen and (max-width: 500px) {
      .hero .container {
        background: #FFF; } }
  .hero h1 {
    display: block;
    font-size: 70px;
    font-weight: 100;
    margin: 0 0 10px -5px;
    overflow: hidden;
    width: 500px;
    letter-spacing: -1px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text; }
    .hero h1.one {
      color: #222;
      color: rgba(0, 0, 0, 0.8);
      color: #EC4757; }
    .hero h1.two {
      color: #777;
      color: rgba(0, 0, 0, 0.3); }
    .hero h1.three {
      color: #AAA;
      color: rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 500px) {
      .hero h1 {
        font-size: 50px; } }

section {
  display: block;
  width: 100%;
  padding: 160px 0;
  background: #FFF;
  border-bottom: 1px solid #ecf2f5; }
  @media only screen and (max-width: 700px) {
    section {
      padding-top: 80px; } }
  section.no-border {
    border-bottom: none;
    padding-bottom: 80px; }
  section h1 {
    font-size: 36px;
    font-weight: 300;
    color: #444;
    letter-spacing: 2px;
    margin: -10px 0 0 0; }
    @media only screen and (max-width: 500px) {
      section h1 {
        font-size: 30px; } }
  section .badge {
    font-size: 11px;
    text-transform: uppercase;
    background: #ecf2f5;
    color: #666;
    font-weight: 400;
    padding: 3px 5px 2px;
    margin: 0 0 0 5px;
    border-radius: 4px;
    position: relative;
    top: -3px; }
    @media only screen and (max-width: 500px) {
      section .badge {
        display: none; } }
  section h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 20px 0;
    color: #111; }
  section p {
    font-size: 16px;
    line-height: 2em;
    color: #777;
    font-weight: 300;
    font-family: "ff-tisa-web-pro", serif;
    width: 100%;
    max-width: 650px; }
  section hr {
    width: 120px;
    margin: 20px 0 40px;
    border-color: #DDD; }

section.center {
  text-align: center; }
  section.center p {
    margin: 0 auto; }
  section.center hr {
    margin-left: auto;
    margin-right: auto; }

section.about {
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-position: bottom center; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    section.about {
      background-image: url("../img/about@2x.png");
      -webkit-background-size: 922px 109px; } }

section.boxes {
  font-size: 0;
  border-bottom: none; }
  section.boxes:before, section.boxes:after {
    content: "";
    display: table; }
  section.boxes:after {
    clear: both; }
  section.boxes .box {
    display: inline-block;
    width: 33.333333%;
    float: left;
    margin: 20px 0 50px 0; }
    @media only screen and (max-width: 700px) {
      section.boxes .box {
        width: 50%; } }
    @media only screen and (max-width: 700px) {
      section.boxes .box {
        width: 100%; } }
  section.boxes p {
    width: 80%;
    text-align: justify; }
    @media only screen and (max-width: 1140px) {
      section.boxes p {
        font-size: 14px;
        width: 85%; } }
    @media only screen and (max-width: 700px) {
      section.boxes p {
        font-size: 16px; } }
    @media only screen and (max-width: 500px) {
      section.boxes p {
        font-size: 16px;
        width: 100%; } }

section.quote {
  background: #EC4757;
  border-bottom: none; }
  section.quote blockquote {
    font-size: 50px;
    margin: 0 auto 20px;
    font-weight: 100;
    letter-spacing: -2px;
    line-height: 1.3em;
    color: #FFF; }
  section.quote cite {
    font-size: 24px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6); }

section.portfolio {
  border-bottom: none;
  padding-top: 0; }
  section.portfolio:before, section.portfolio:after {
    content: "";
    display: table; }
  section.portfolio:after {
    clear: both; }
  section.portfolio img {
    display: block;
    width: 650px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.04);
    margin: 0 20px 0 0; }
    @media only screen and (max-width: 1140px) {
      section.portfolio img {
        width: 470px; } }
    @media only screen and (max-width: 961px) and (min-width: 699px) {
      section.portfolio img {
        width: 100%; } }
    @media only screen and (max-width: 700px) {
      section.portfolio img {
        width: 100%; } }
    @media only screen and (max-width: 500px) {
      section.portfolio img {
        width: 100%; } }
  section.portfolio .content {
    display: inline-block;
    float: right;
    width: 450px; }
    @media only screen and (max-width: 961px) and (min-width: 699px) {
      section.portfolio .content {
        width: 100%;
        margin: 0 0 20px 0; } }
    @media only screen and (max-width: 700px) {
      section.portfolio .content {
        width: 100%;
        margin: 0 0 20px 0; } }
    @media only screen and (max-width: 500px) {
      section.portfolio .content {
        width: 100%;
        margin: 0 0 20px 0; } }
  section.portfolio a {
    text-decoration: none;
    color: #EC4757; }
    section.portfolio a:hover {
      color: #f17581; }
  section.portfolio a.visit {
    display: inline-block;
    font-size: 18px;
    padding: 10px 0;
    margin: 20px 0 0 0; }
    section.portfolio a.visit .fa {
      margin: 0 0 0 10px;
      font-size: 14px;
      position: relative;
      top: -1px; }

section.branding {
  border-top: 1px solid #ecf2f5;
  padding-bottom: 120px; }
  section.branding.mkbhd {
    background: #25282D; }
    section.branding.mkbhd h1 {
      color: #FFF; }
    section.branding.mkbhd hr {
      border-color: rgba(255, 255, 255, 0.15); }
  section.branding.hd {
    background: #ecf2f5; }
  section.branding.mmk {
    background: #ecf2f5; }
  section.branding:before, section.branding:after {
    content: "";
    display: table; }
  section.branding:after {
    clear: both; }
  section.branding img {
    display: inline-block;
    float: left;
    width: 550px;
    margin: 0 40px 40px 0;
    border-radius: 4px; }
    section.branding img:nth-child(even) {
      margin-right: 0; }
    @media only screen and (max-width: 1140px) {
      section.branding img {
        width: 460px; } }
    @media only screen and (max-width: 961px) and (min-width: 699px) {
      section.branding img {
        width: 330px; } }
    @media only screen and (max-width: 700px) {
      section.branding img {
        width: 100%; } }
    @media only screen and (max-width: 500px) {
      section.branding img {
        width: 100%; } }
  section.branding small {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5); }
    @media only screen and (max-width: 700px) {
      section.branding small {
        display: block;
        margin: 15px 0 0 0; } }
    @media only screen and (max-width: 500px) {
      section.branding small {
        display: block;
        margin: 15px 0 0 0; } }

.cta {
  display: block;
  width: 100%;
  background: #EC4757;
  padding: 40px 0; }
  .cta:before, .cta:after {
    content: "";
    display: table; }
  .cta:after {
    clear: both; }
  .cta h1 {
    display: inline-block;
    float: left;
    font-size: 24px;
    font-weight: 300;
    color: #FFF;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    top: 11px; }
    @media only screen and (max-width: 700px) {
      .cta h1 {
        font-size: 20px; } }
    @media only screen and (max-width: 500px) {
      .cta h1 {
        font-size: 20px; } }
    .cta h1 strong {
      font-weight: 600;
      color: #FFF; }
  .cta a.button {
    display: inline-block;
    color: #FFF;
    padding: 13px 25px;
    border-radius: 50px;
    border: 1px solid #FFF;
    margin: 0 0 0 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    float: right; }
    .cta a.button:hover {
      background: #FFF;
      color: #EC4757; }
    @media only screen and (max-width: 500px) {
      .cta a.button {
        display: block;
        width: 100%;
        text-align: center;
        margin: 40px 0 0 0; } }

footer {
  display: block;
  width: 100%;
  padding: 40px 0 28px;
  background: #EC4757;
  border-top: 1px solid #ee5e6c;
  text-align: right;
  font-size: 0; }
  footer:before, footer:after {
    content: "";
    display: table; }
  footer:after {
    clear: both; }
  footer p {
    display: inline-block;
    float: left;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 600;
    font-size: 14px;
    margin: 2px 0 0 0; }
  footer a {
    display: inline-block;
    padding: 10px 15px 8px;
    margin: -10px 0 0 0;
    font-size: 22px;
    color: #FFF; }

.alert {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 800;
  background: #EC4757;
  bottom: 0;
  left: 0;
  padding: 20px 0; }
  .alert .fa {
    font-size: 26px;
    color: #FFF;
    float: left;
    margin: 0 10px 0 0; }
  .alert p {
    font-size: 16px;
    color: #FFF;
    position: relative;
    top: 4px; }

.menu {
  display: none;
  width: 100%;
  background: #EC4757;
  text-align: center;
  position: absolute;
  z-index: 800; }
  .menu.show {
    display: block; }
  .menu a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    padding: 15px 0;
    border-bottom: 1px solid #ee5968; }
    .menu a:last-child {
      border-bottom: none; }
    .menu a:hover {
      background: #ed505f; }
