// Font Stacks
$font-main:         "proxima-nova", "Helvetica Neue", "Helvetica", arial, sans-serif;
$font-alt:          "ff-tisa-web-pro", serif;

// Sizes
$radius:            4px;
$tiny:              500px;
$small:             700px;
$medium:            1140px;
$large:             960px;
$larger:            1140px;

// Colors
$red:               #EC4757;
$purple:            #8365E5;
$lightgray:         #ecf2f5;
$mediumgray:        #DDD;
