// Responsive Breakpoints
@mixin fit($media) {
	@if $media == tiny {
		@media only screen and (max-width: $tiny) {@content;}
	}
	@else if $media == small {
		@media only screen and (max-width: $small) {@content;}
	}
	@else if $media == medium {
		@media only screen and (max-width: $large + 1) and (min-width: $small - 1) {@content;}
	}
	@else if $media == large {
		@media only screen and (max-width: $larger) {@content;}
	}
	@else if $media == larger {
		@media only screen and (min-width: $larger) {@content;}
	}
}

// CSS Clearfix
@mixin clear() {
	&:before, &:after {
		content:"";
		display:table;
	}

	&:after {
		clear:both;
	}
}

// Vert & Horz Centering
@mixin center() {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}

// Ellipsis
@mixin ellipsis() {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

// Opacity
@mixin opacity($opacity) {
	opacity:$opacity;
	$opacity-ie:$opacity * 100;
	filter:alpha(opacity=$opacity-ie);
}

// User Selection
@mixin select($value) {
	-webkit-user-select:$value;
	-moz-user-select:$value;
	-ms-user-select:$value;
	user-select:$value;
}

// Animation Keyframes
@mixin keyframes($animation-name) {
	@-webkit-keyframes $animation-name {
		@content;
	}
	@-moz-keyframes $animation-name {
		@content;
	}
	@-ms-keyframes $animation-name {
		@content;
	}
	@-o-keyframes $animation-name {
		@content;
	}
	@keyframes $animation-name {
		@content;
	}
}

// Animations
@mixin animation($str) {
	-webkit-animation:#{$str};
	-moz-animation:#{$str};
	-ms-animation:#{$str};
	-o-animation:#{$str};
	animation:#{$str};
}

// Triangles
@mixin triangle($direction, $size: 6px, $color: #222){
	content:'';
	display:block;
	position:absolute;
	height:0;
	width:0;
	@if ($direction == 'up'){
		border-bottom:$size solid $color;
		border-left:1*$size solid transparent;
		border-right:1*$size solid transparent;
	}
	@else if ($direction == 'down'){
		border-top:$size solid $color;
		border-left:1/2*$size solid transparent;
		border-right:1/2*$size solid transparent;
	}
	@else if ($direction == 'left'){
		border-top:1/2*$size solid transparent;
		border-bottom:1/2*$size solid transparent;
		border-right:$size solid $color;
	}
	@else if ($direction == 'right'){
		border-top:1/2*$size solid transparent;
		border-bottom:1/2*$size solid transparent;
		border-left:$size solid $color;
	}
}

// Retina Backgrounds
@mixin background-image-retina($file, $type, $width, $height) {
	background-image: url($file + '.' + $type);
 
	@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
		}
	}
}
