// Alerts
.alert {
	display:block;
	width:100%;
	position:fixed;
	z-index:800;
	background:$red;
	bottom:0;
	left:0;
	padding:20px 0;

	// Icon
	.fa {
		font-size:26px;
		color:#FFF;
		float:left;
		margin:0 10px 0 0;
	}

	// Paragraph
	p {
		font-size:16px;
		color:#FFF;
		position:relative;
		top:4px;
	}
}
