// Call to Action
.cta {
	display:block;
	width:100%;
	background:$red;
	padding:40px 0;
	@include clear();

	// Heading
	h1 {
		display:inline-block;
		float:left;
		font-size:24px;
		font-weight:300;
		color:#FFF;
		color:rgba(255, 255, 255, .6);
		position:relative;
		top:11px;
		@include fit(small) {font-size:20px;}
		@include fit(tiny) {font-size:20px;}

		// Strong
		strong {
			font-weight:600;
			color:#FFF;
		}
	}

	// Button
	a.button {
		display:inline-block;
		color:#FFF;
		padding:13px 25px;
		border-radius:50px;
		border:1px solid #FFF;
		margin:0 0 0 10px;
		text-decoration:none;
		font-size:16px;
		font-weight:400;
		float:right;
		&:hover {background:#FFF; color:$red;}
		@include fit(tiny) {display:block; width:100%; text-align:center; margin:40px 0 0 0;}
	}
}
