// Footer
footer {
	display:block;
	width:100%;
	padding:40px 0 28px;
	background:$red;
	border-top:1px solid lighten($red, 5%);
	text-align:right;
	font-size:0;
	@include clear();

	// Paragraph
	p {
		display:inline-block;
		float:left;
		color:rgba(255, 255, 255, .6);
		font-weight:600;
		font-size:14px;
		margin:2px 0 0 0;
	}

	// Links
	a {
		display:inline-block;
		padding:10px 15px 8px;
		margin:-10px 0 0 0;
		font-size:22px;
		color:#FFF;
	}
}
