// Header
header {
	display:block;
	width:100%;
	height:80px;
	border-bottom:1px solid $lightgray;
	position:relative;
	z-index:400;
	background:#FFF;
	overflow:hidden;
	&.home {border-bottom:none;}
	@include select(none);

	// Logo
	.logo {
		display:inline-block;
		float:left;
		font-size:18px;
		font-weight:400;
		color:#444;
		text-decoration:none;
		padding:30px 0 31px;
		&:hover {color:$red;}
	}

	// Navigation
	nav {
		display:inline-block;
		float:right;
		font-size:0;
		@include fit(small) {display:none;}
		@include fit(tiny) {display:none;}
	}

	// Mobile Navigation
	nav.mobile {
		display:none;
		a {margin-right:-15px;}
		@include fit(small) {display:inline-block;}
		@include fit(tiny) {display:inline-block;}
	}

	// Navigation Links
	nav a {
		display:inline-block;
		padding:31px 15px 33px;
		font-size:16px;
		font-weight:400;
		color:#888;
		text-decoration:none;
		&:hover {color:$red;}
	}

	// Active Navigation Link
	nav a.active {
		color:$red;
	}

	// Icons
	nav .fa {
		font-size:14px;
		margin:0 2px 0 0;
		color:$red;
	}

	// Button Link
	nav a.button {
		color:$red;
		padding:13px 25px;
		border-radius:50px;
		border:1px solid $red;
		margin:0 0 0 10px;
		&:hover {background:$red; color:#FFF;}
	}
}
