// Hero Area
.hero {
	position:absolute;
	z-index:300;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	min-height:700px;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	@include select(none);
	@include fit(medium) {min-height:600px;}
	@include fit(small) {min-height:600px;}
	@include fit(tiny) {min-height:400px;}

	// Container
	.container {
		padding:140px 0 110px;
		@include background-image-retina('../img/hero', 'png', 549px, 367px);
		background-repeat:no-repeat;
		background-position:right center;
		@include fit(medium) {background:#FFF;}
		@include fit(small) {background:#FFF; padding:40px 0 10px;}
		@include fit(tiny) {background:#FFF;}
	}

	// Heading
	h1 {
		display:block;
		font-size:70px;
		font-weight:100;
		margin:0 0 10px -5px;
		overflow:hidden;
		width:500px;
		letter-spacing:-1px;
		&.one {color:#222; color:rgba(0, 0, 0, .8); color:$red;}
		&.two {color:#777; color:rgba(0, 0, 0, .3);}
		&.three {color:#AAA; color:rgba(0, 0, 0, .3);}
		@include select(text);
		@include fit(tiny) {font-size:50px;}
	}
}
