// Mobile Menu
.menu {
	display:none;
	width:100%;
	background:$red;
	text-align:center;
	position:absolute;
	z-index:800;
	&.show {display:block;}

	// Links
	a {
		display:block;
		font-size:18px;
		text-decoration:none;
		color:#FFF;
		font-weight:300;
		padding:15px 0;
		border-bottom:1px solid lighten($red, 4%);
		&:last-child {border-bottom:none;}
		&:hover {background:lighten($red, 2%);}
	}
}
