// Sections
section {
	display:block;
	width:100%;
	padding:160px 0;
	background:#FFF;
	border-bottom:1px solid $lightgray;
	@include fit(small) {padding-top:80px;}
	&.no-border {border-bottom:none; padding-bottom:80px;}

	// Heading
	h1 {
		font-size:36px;
		font-weight:300;
		color:#444;
		letter-spacing:2px;
		margin:-10px 0 0 0;
		@include fit(tiny) {font-size:30px;}
	}

	// Badge
	.badge {
		font-size:11px;
		text-transform:uppercase;
		background:$lightgray;
		color:#666;
		font-weight:400;
		padding:3px 5px 2px;
		margin:0 0 0 5px;
		border-radius:$radius;
		position:relative;
		top:-3px;
		@include fit(tiny) {display:none;}
	}

	// Headings
	h2 {
		font-size:22px;
		font-weight:400;
		margin:0 0 20px 0;
		color:#111;
	}

	// Paragraph
	p {
		font-size:16px;
		line-height:2em;
		color:#777;
		font-weight:300;
		font-family:$font-alt;
		width:100%;
		max-width:650px;
	}

	// Rule
	hr {
		width:120px;
		margin:20px 0 40px;
		border-color:$mediumgray;
	}
}

// Centered Section
section.center {
	text-align:center;

	// Paragraph
	p {
		margin:0 auto;
	}

	// Rule
	hr {
		margin-left:auto;
		margin-right:auto;
	}
}

// About Section
section.about {
	@include background-image-retina('../img/about', 'png', 922px, 109px);
	background-repeat:no-repeat;
	background-position:bottom center;
}

// Boxes Section
section.boxes {
	font-size:0;
	border-bottom:none;
	@include clear();

	// Box
	.box {
		display:inline-block;
		width:33.333333%;
		float:left;
		margin:20px 0 50px 0;
		@include fit(small) {width:50%;}
		@include fit(small) {width:100%;}
	}

	// Paragraphs
	p {
		width:80%;
		text-align:justify;
		@include fit(large) {font-size:14px; width:85%;}
		@include fit(small) {font-size:16px;}
		@include fit(tiny) {font-size:16px; width:100%;}
	}
}

// Quote Section
section.quote {
	background:$red;
	border-bottom:none;
	
	// Blockquote
	blockquote {
		font-size:50px;
		margin:0 auto 20px;
		font-weight:100;
		letter-spacing:-2px;
		line-height:1.3em;
		color:#FFF;
	}

	// Cite
	cite {
		font-size:24px;
		font-weight:300;
		color:rgba(255, 255, 255, .6);
	}
}

// Portfolio Section
section.portfolio {
	border-bottom:none;
	padding-top:0;
	@include clear();

	// Image
	img {
		display:block;
		width:650px;
		overflow:hidden;
		border-radius:$radius;
		box-shadow:0px 2px 40px rgba(0, 0, 0, .04);
		margin:0 20px 0 0;
		@include fit(large) {width:470px;}
		@include fit(medium) {width:100%;}
		@include fit(small) {width:100%;}
		@include fit(tiny) {width:100%;}
	}

	// Content
	.content {
		display:inline-block;
		float:right;
		width:450px;
		@include fit(medium) {width:100%; margin:0 0 20px 0;}
		@include fit(small) {width:100%; margin:0 0 20px 0;}
		@include fit(tiny) {width:100%; margin:0 0 20px 0;}
	}

	// Link
	a {
		text-decoration:none;
		color:$red;
		&:hover {color:lighten($red, 10%);}
	}

	// Visit Website Link
	a.visit {
		display:inline-block;
		font-size:18px;
		padding:10px 0;
		margin:20px 0 0 0;
		.fa {margin:0 0 0 10px; font-size:14px; position:relative; top:-1px;}
	}
}

// Branding Section
section.branding {
	border-top:1px solid $lightgray;
	padding-bottom:120px;
	&.mkbhd {background:#25282D; h1 {color:#FFF;} hr {border-color:rgba(255, 255, 255, .15);}}
	&.hd {background:$lightgray;}
	&.mmk {background:$lightgray;}
	@include clear();

	// Images
	img {
		display:inline-block;
		float:left;
		width:550px;
		margin:0 40px 40px 0;
		border-radius:$radius;
		&:nth-child(even) {margin-right:0;}
		@include fit(large) {width:460px;}
		@include fit(medium) {width:330px;}
		@include fit(small) {width:100%;}
		@include fit(tiny) {width:100%;}
	}

	// Small
	small {
		font-size:14px;
		font-weight:300;
		color:rgba(255, 255, 255, .5);
		@include fit(small) {display:block; margin:15px 0 0 0;}
		@include fit(tiny) {display:block; margin:15px 0 0 0;}
	}
}
